__pycache__
logs
AutoRelease
*.exe
.vscode/launch.json
DLL
.DS_Store
SkillData
node_modules
.DS_Store
dist
dist-ssr
*.local
.pnpm-debug.log
tmp
**/.tmp
release
*.log
components.d.ts
packages/renderer/components.d.ts
api/ResourceFiles/**/set
ResourceFiles
build