.icon-reset {
  background-image: url("@/assets/img/icon/reset.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 20px !important;
  height: 20px !important;
  &:hover {
    background-image: url("@/assets/img/icon/reset_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/reset_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/reset_disabled.png");
  }
}

.icon-prev {
  background-image: url("@/assets/img/icon/prev.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 16px !important;
  height: 16px !important;
  &:hover {
    background-image: url("@/assets/img/icon/prev_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/prev_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/prev_disabled.png");
  }
}

.icon-next {
  background-image: url("@/assets/img/icon/next.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 16px !important;
  height: 16px !important;
  &:hover {
    background-image: url("@/assets/img/icon/next_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/next_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/next_disabled.png");
  }
}

.icon-dropdown {
  background-image: url("@/assets/img/icon/dropdown.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 16px !important;
  height: 16px !important;
  &:hover {
    background-image: url("@/assets/img/icon/dropdown_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/dropdown_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/dropdown_disabled.png");
  }
}

.icon-search {
  background-image: url("@/assets/img/icon/search.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 20px !important;
  height: 20px !important;
  &:hover {
    background-image: url("@/assets/img/icon/search_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/search_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/search_disabled.png");
  }
}

.icon-plus {
  background-image: url("@/assets/img/icon/plus.png");
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 20px !important;
  height: 20px !important;
  &:hover {
    background-image: url("@/assets/img/icon/plus_hover.png");
  }
  &:active {
    background-image: url("@/assets/img/icon/plus_active.png");
  }
  &:disabled {
    background-image: url("@/assets/img/icon/plus_disabled.png");
  }
}
